global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["127.0.0.1:9090"]

  - job_name: "application_server"
    static_configs:
      - targets: ["node-exporter:9100"] # IP адресс сервера, где установлен node_exporter. If linux, use localhost or 127.0.0.1, WSL - container-name
